body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px gray(0, 0, 0, 0.2);
}

.legend li {
  list-style-type: none;
}

.legend .min {
  color: yellowgreen;
}

.legend .second {
  color: yellow;
}

.legend .third {
  color: orange;
}

.legend .fourth {
  color: red;
}

.legend .fifth {
  color: blue;
}

.legend .max {
  color: purple;
}
